.Accord {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 0px;
  letter-spacing: 0.02857em;
  display: block;
  text-align: center;
}